<a href="https://colab.research.google.com/github/Kalash8286/Scraping/blob/main/web_scraping/WebScrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import files  
import requests
from bs4 import BeautifulSoup
from bs4.element import NavigableString
import csv  
import pandas as pd

In [ ]:
#variables
subHeading, subHeadingList  =([] for i in range(2))
intro = ''
chapterName = ''

#final answer list
subHeadingIntro, subHeadings, allEaxmples, allListItems, allImages, allTableValues =([] for i in range(6))

In [ ]:
#convert list into string
def listIntoString(lists):    
    str1 =''
    for ele in lists:         
        str1 += ele  
    return str1

In [ ]:
# here all p tags are passed which includes text all other headings also
# so here exatracting only needed text for 
def filterSubHeadingIntro(subHeadingIntro):
    removeStr = len(subHeadingIntro)
    i = -1
    subIntro = []
    lastItem = ""
    while removeStr > 0:   
        if( len(subHeadingIntro[i]) != 0 ):
            if(len(subIntro) == 0):
                subIntro.append(subHeadingIntro[i])
                lastItem = subHeadingIntro[i]
            else:
                subIntro.append(subHeadingIntro[i].replace(lastItem, ""))
                lastItem = subHeadingIntro[i]           
        i -= 1
        removeStr -= 1
    subIntro.reverse()
    return subIntro

In [ ]:
def findHeading(soup):    
  # print("\n==========PAGE HEADING==============")
  heading = soup.find_all('span', class_='color_h1')
  if(heading != []):
    heading = heading[0].get_text()
  else:
    heading = ""  
  

  # print("\n==========INTRODUCTION==============")
  global intro 
  intro = soup.find_all('p', class_='intro')
  
  if(intro != []):
    intro = intro[0].get_text()
  else:
    intro = ""  
  
  return heading

In [ ]:
def findSubHeading(soup):
  global subHeadings
  try:
    # print("\n==========ALL SUB HEADINGS==============")
    sub_heading = soup.find('hr')
    sub_heading = sub_heading.find_next_siblings("h2")
    for h in sub_heading:
        if (h.string.find('Exercises') != -1):
            break    
        elif(h.string == 'Chapter Summary'):
            break
        elif(h.string == 'HTML List Tags'):
            break
        else:
            subHeadings.append(h.get_text())
  except:
    subHeadings.append('')

In [ ]:
def findIntroSubheading(soup):
  global subHeadingIntro
  # print("\n==========INTRO FOR ALL SUB HEADINGS==============")
  try:
    sub_heading_intro = soup.find('div', id='main')
    length = len(sub_heading_intro.find_all('hr'))
    i=0
    while i < length:
        sub = sub_heading_intro.find_all('hr')[i]
        sub = sub.find_next_siblings("p")
        for k in sub:      
            if(k.get_text() == intro):
                continue
            if(k.get_text().__contains__("W3Schools' tag reference contains")):
                continue
            else:  
                subHeadingList.append(k.get_text()) 

        str1 = listIntoString(subHeadingList)
        subHeadingList.clear()  
        if(str1 not in subHeadingIntro):
            subHeadingIntro.append(str1)               
        i += 1
  except:
    subHeadingIntro.append('')               
  # sending data for filtering
  subHeadingIntro = filterSubHeadingIntro(subHeadingIntro)

In [ ]:
def findExample(soup):
  global allEaxmples
  dummyExamples = []
  text = ''

  # print("\n==========ALL EXAMPLES FOR SUB HEADINGS==============")
  try:
    example = soup.select("div.w3-example div.notranslate")
    for e in example:    
      example = False            
      dummyExamples.append(e.get_text())        
      par = e.parent     
    
      #under one heading can have multiple examples
      for sibling in par.next_siblings: 
        # print(sibling)
        for s in sibling:
          if(str(s) == '<h3>Example</h3>'):
            example = True
        if(example == False):
          if(str(sibling) == '<hr/>'):
            dummyExamples.append("|||") 
            break

    # arranging all examples  
    for e in dummyExamples:    
      if(e == '|||'):
        allEaxmples.append(text)
        text = ''
      else:
        if(len(text) == 0):
          text += e
        else:
          text += ' &&&&&& '+e 
  except:
    allEaxmples.append("")

In [ ]:
#find listItems on webpage
def findListItems(soup):
  global allListItems
  heading = ""
  items = ""
  finalItem = ""

  try:
    unorderedList = soup.find_all('ul')
    for k in unorderedList:
      heading += k.find_previous_sibling('h2').get_text() + "###"    #listHeading
      items += "&&&"+k.get_text().replace("\n", "|||")               #listItems

    finalItem = heading + items
    allListItems.append(finalItem)       
  except:
    allListItems.append("")
  # print(allListItems)

In [ ]:
#find images on webpage
def findImageUrl(soup):
  global allImages

  try:
    content = soup.find("div", id="main")
    images = content.find_all('img')
    for img in images:
      allImages.append(img['src'])
  except:
    allImages.append("")

In [ ]:
#find all table values
def findTableValues(soup):
  global allTableValues
  tableText = ""

  try:
    content = soup.find("div", id="main")
    tables = content.find_all('table')  
    for table in tables:
      tableRow = table.find_all("tr")

      for tr in tableRow:
        if(tr.find_all("th")):
          tableHeading = tr.find_all("th")
          for th in tableHeading:
            tableText += th.get_text() + "|||"

        elif(tr.find_all("td")):
          tableData = tr.find_all("td")
          for td in tableData:
            tableText += td.get_text() + "|||"          
        tableText += "&&&"

      allTableValues.append(tableText)
      tableText = ""
  except:
    allTableValues.append("")
  # print(allTableValues)

In [ ]:
def writeInCSV(chapterName, heading, link, intro, subHeadings, subHeadingIntro, allEaxmples, allListItems, allTableValues, allImages):   

  
  for k in range(len(subHeadings)):
    if(k >= len(subHeadingIntro)):
      subHeadingIntro.append("")
    if(k >= len(allEaxmples)):
      allEaxmples.append("")
 

  with open('web.csv', 'a', encoding='UTF8') as f:
    writer = csv.writer(f)
    counter = 0 
    heading = chapterName +'||'+ heading.strip() 

    data = heading, link, intro, subHeadings, subHeadingIntro, allEaxmples, allListItems, allTableValues, allImages
    writer.writerow(data)

In [ ]:
header = ['Heading', 'Link', 'Intro', 'Subheading', 'Definitions', 'Example', 'List_item', 'table_item', 'Image_url',]
with open('web.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)

In [ ]:
webLinks = pd.read_csv('sql.txt',sep='\n',header=None)[0].tolist()
# webLinks = webLinks[:3]

num = 1

for link in webLinks:  
#   # print(link)
  chapterName = link.split("/")[3]

  r = requests.get(link)   
  soup = BeautifulSoup(r.content, 'html.parser')
  # print(soup)
  heading = findHeading(soup)
  findSubHeading(soup)  
  findIntroSubheading(soup)
  findExample(soup)
  findListItems(soup)
  findImageUrl(soup)
  findTableValues(soup)

  writeInCSV(chapterName, heading, link, intro, subHeadings, subHeadingIntro, allEaxmples, allListItems, allTableValues, allImages)  
  subHeadingIntro.clear()
  subHeadings.clear()
  allEaxmples.clear()  
  allListItems.clear()
  allImages.clear()
  allTableValues.clear()
  print(num, 'RECORD DONE!')
  num += 1
  
  # print(chapterName)
  # print(heading)
  # print(link)
  # print(intro)
  # print(subHeadings)
  # print(subHeadingIntro)
  # print(allEaxmples)
  # print(allListItems)

1 RECORD DONE!
2 RECORD DONE!
3 RECORD DONE!
4 RECORD DONE!
5 RECORD DONE!
6 RECORD DONE!
7 RECORD DONE!
8 RECORD DONE!
9 RECORD DONE!
10 RECORD DONE!
11 RECORD DONE!
12 RECORD DONE!
13 RECORD DONE!
14 RECORD DONE!
15 RECORD DONE!
16 RECORD DONE!
17 RECORD DONE!
18 RECORD DONE!
19 RECORD DONE!
20 RECORD DONE!
21 RECORD DONE!
22 RECORD DONE!
23 RECORD DONE!
24 RECORD DONE!
25 RECORD DONE!
26 RECORD DONE!
27 RECORD DONE!
28 RECORD DONE!
29 RECORD DONE!
30 RECORD DONE!
31 RECORD DONE!
32 RECORD DONE!
33 RECORD DONE!
34 RECORD DONE!
35 RECORD DONE!
36 RECORD DONE!
37 RECORD DONE!
38 RECORD DONE!
39 RECORD DONE!
40 RECORD DONE!
41 RECORD DONE!
42 RECORD DONE!
43 RECORD DONE!
44 RECORD DONE!
45 RECORD DONE!
46 RECORD DONE!
47 RECORD DONE!
48 RECORD DONE!
49 RECORD DONE!
50 RECORD DONE!
51 RECORD DONE!
52 RECORD DONE!
53 RECORD DONE!
54 RECORD DONE!
55 RECORD DONE!
56 RECORD DONE!
57 RECORD DONE!
58 RECORD DONE!
59 RECORD DONE!
60 RECORD DONE!
61 RECORD DONE!
62 RECORD DONE!
63 RECORD DONE!
64 RECORD DONE!
65 RECORD DONE!
66 RECORD DONE!
67 RECORD DONE!
68 RECORD DONE!
69 RECORD DONE!
70 RECORD DONE!
71 RECORD DONE!
72 RECORD DONE!
73 RECORD DONE!
74 RECORD DONE!
75 RECORD DONE!
76 RECORD DONE!
77 RECORD DONE!
78 RECORD DONE!
79 RECORD DONE!
80 RECORD DONE!
81 RECORD DONE!
82 RECORD DONE!
83 RECORD DONE!
84 RECORD DONE!
85 RECORD DONE!
86 RECORD DONE!
87 RECORD DONE!
88 RECORD DONE!
89 RECORD DONE!
90 RECORD DONE!
91 RECORD DONE!
92 RECORD DONE!
93 RECORD DONE!
94 RECORD DONE!
95 RECORD DONE!
96 RECORD DONE!
97 RECORD DONE!
98 RECORD DONE!
99 RECORD DONE!
100 RECORD DONE!
101 RECORD DONE!
102 RECORD DONE!
103 RECORD DONE!
104 RECORD DONE!
105 RECORD DONE!
106 RECORD DONE!
107 RECORD DONE!
108 RECORD DONE!
109 RECORD DONE!
110 RECORD DONE!
111 RECORD DONE!
112 RECORD DONE!
113 RECORD DONE!
114 RECORD DONE!
115 RECORD DONE!
116 RECORD DONE!
117 RECORD DONE!
118 RECORD DONE!
119 RECORD DONE!
120 RECORD DONE!
121 RECORD DONE!
122 RECORD DONE!
123 RECORD DONE!
124 RECORD DONE!
125 RECORD DONE!
126 RECORD DONE!
127 RECORD DONE!
128 RECORD DONE!
129 RECORD DONE!
130 RECORD DONE!
131 RECORD DONE!
132 RECORD DONE!
133 RECORD DONE!
134 RECORD DONE!
135 RECORD DONE!
136 RECORD DONE!
137 RECORD DONE!
138 RECORD DONE!
139 RECORD DONE!
140 RECORD DONE!
141 RECORD DONE!
142 RECORD DONE!
143 RECORD DONE!
144 RECORD DONE!
145 RECORD DONE!
146 RECORD DONE!
147 RECORD DONE!
148 RECORD DONE!
149 RECORD DONE!
150 RECORD DONE!
151 RECORD DONE!
152 RECORD DONE!
153 RECORD DONE!
154 RECORD DONE!
155 RECORD DONE!
156 RECORD DONE!
157 RECORD DONE!
158 RECORD DONE!
159 RECORD DONE!
160 RECORD DONE!
161 RECORD DONE!
162 RECORD DONE!
163 RECORD DONE!
164 RECORD DONE!
165 RECORD DONE!
166 RECORD DONE!
167 RECORD DONE!
168 RECORD DONE!
169 RECORD DONE!
170 RECORD DONE!
171 RECORD DONE!
172 RECORD DONE!
173 RECORD DONE!
174 RECORD DONE!
175 RECORD DONE!
176 RECORD DONE!
177 RECORD DONE!
178 RECORD DONE!
179 RECORD DONE!
180 RECORD DONE!
181 RECORD DONE!
182 RECORD DONE!
183 RECORD DONE!
184 RECORD DONE!
185 RECORD DONE!
186 RECORD DONE!
187 RECORD DONE!
188 RECORD DONE!
189 RECORD DONE!
190 RECORD DONE!
191 RECORD DONE!
192 RECORD DONE!
193 RECORD DONE!
194 RECORD DONE!
195 RECORD DONE!
196 RECORD DONE!
197 RECORD DONE!
198 RECORD DONE!
199 RECORD DONE!
200 RECORD DONE!
201 RECORD DONE!
202 RECORD DONE!
203 RECORD DONE!
204 RECORD DONE!
205 RECORD DONE!
206 RECORD DONE!
207 RECORD DONE!
208 RECORD DONE!
209 RECORD DONE!
210 RECORD DONE!
211 RECORD DONE!
212 RECORD DONE!
213 RECORD DONE!
214 RECORD DONE!
215 RECORD DONE!
216 RECORD DONE!
217 RECORD DONE!
218 RECORD DONE!
219 RECORD DONE!
220 RECORD DONE!
221 RECORD DONE!
222 RECORD DONE!
223 RECORD DONE!
224 RECORD DONE!
225 RECORD DONE!
226 RECORD DONE!
227 RECORD DONE!
228 RECORD DONE!
229 RECORD DONE!
230 RECORD DONE!
231 RECORD DONE!
232 RECORD DONE!
233 RECORD DONE!
234 RECORD DONE!
235 RECORD DONE!
236 RECORD DONE!
237 RECORD DONE!
238 RECORD DONE!
239 RECORD DONE!
240 RECORD DONE!
241 RECORD DONE!
242 RECORD DONE!
243 RECORD DONE!
244 RECORD DONE!
245 RECORD DONE!
246 RECORD DONE!
247 RECORD DONE!
248 RECORD DONE!
249 RECORD DONE!
250 RECORD DONE!
251 RECORD DONE!
252 RECORD DONE!
253 RECORD DONE!
254 RECORD DONE!
255 RECORD DONE!
256 RECORD DONE!
257 RECORD DONE!
258 RECORD DONE!
259 RECORD DONE!
260 RECORD DONE!
261 RECORD DONE!
262 RECORD DONE!
263 RECORD DONE!
264 RECORD DONE!
265 RECORD DONE!
266 RECORD DONE!
267 RECORD DONE!
268 RECORD DONE!
269 RECORD DONE!
270 RECORD DONE!
271 RECORD DONE!
272 RECORD DONE!
273 RECORD DONE!
274 RECORD DONE!
275 RECORD DONE!
276 RECORD DONE!
277 RECORD DONE!
278 RECORD DONE!
279 RECORD DONE!
280 RECORD DONE!
281 RECORD DONE!
282 RECORD DONE!
283 RECORD DONE!
284 RECORD DONE!

In [ ]:
df = pd.read_csv("web.csv")  
df.head(10)

                Heading  ... Image_url
0         sql||Tutorial  ...        []
1  sql||Introduction to  ...        []
2           sql||Syntax  ...        []
3           sql||SELECT  ...        []
4  sql||SELECT DISTINCT  ...        []
5            sql||WHERE  ...        []
6  sql||AND, OR and NOT  ...        []
7         sql||ORDER BY  ...        []
8      sql||INSERT INTO  ...        []
9      sql||NULL Values  ...        []

[10 rows x 9 columns]

In [ ]:
# file1 = open("link.txt","a")

# URL = "https://www.w3schools.com/cpp/"
# r = requests.get(URL)   
# soup = BeautifulSoup(r.content, 'html.parser')

# divs  = soup.find("div", id="leftmenuinnerinner")
# # soup.select("div.w3-example div.notranslate")

# for a in divs.find_all('a', href=True, target="_top"):
#   links = URL + a['href']
#   file1.write(links)
#   file1.write('\n')
#   print(links)

# file1.close()